#page-title{
    text-shadow: 4px 4px black;
}

body{
    background: darkblue ;
    font-family: Arial;
}
h1{
    text-align: center;
    color: goldenrod;
}
h2{
    text-shadow: 3px 3px black;
    color: goldenrod;

}
p{
    text-shadow: 2px 2px black;
    color: whitesmoke;

}
a{
    color: yellow;
}
#favorite-animal1{

}
#favorite-animal2{

}
#favorite-car{

}
.favorite-section{
    border: 2px darkgoldenrod dotted;
    margin: 3px ;
}
table,tr,th,td{
    border: solid black;
    border-collapse: collapse;
}
th{
    background-color: grey;
    color: darkgoldenrod;
    text-shadow: 2px 2px black;
}
tr:nth-child(even){
    background-color: darkcyan;
    color: lightgray;
    text-shadow: 2px 2px black;
}
tr:nth-child(odd){
    background-color: royalblue;

    color: lightgrey;
    text-shadow: 2px 2px black;
}
b{
    color: goldenrod;
}

img{
    border-radius: 8px;
}